.grid-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 130px;
}

.grid-item {
    background-color: aqua;
    border: 2px solid #150909;
    padding: 10px;

}